# Framework for backend
fastapi

# ASGI server to serve the app
uvicorn

# for env variables
python-dotenv

# For databases
sqlalchemy
psycopg2-binary

# For migrations
aerich

# For testing
pytest
requests
pytest-cov

# For model validations
pydantic

# For numeric data calcs
numpy

# Loading model
joblib

# for models
scikit-learn

# For feature engineering
pandas

#production-grade WSGI server
gunicorn